{% extends "main/base.html" %}
{% block content %}
{% load static %}
	
	<div class="all-title-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Properties</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li>Properties</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	
	<div id="features" class="section wb">
	<div class="container">
		<div class="section-title row text-center">
			<div class="col-md-8 col-md-offset-2">
				<small>All Awesome Property Details</small>
				<h3>Property Details</h3>
				<p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
			</div><!-- end col -->
		</div><!-- end title -->
		
		<hr class="invis"> 

		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="service-widget">
					<div class="property-main">
						<div class="property-wrap">
							<figure class="post-media wow fadeIn">
								<a href="{% static 'main/uploads/estate_01.jpg' %}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="{% static 'main/uploads/estate_01.jpg' %}" alt="" class="img-responsive">
								<div class="label-inner">
									<span class="label-status label">Popular</span>
								</div>
								<div class="price">
									<span class="item-sub-price">$5.550/sq ft</span> 
								</div>
							</figure>
							<div class="item-body">
								<h3>Spacious and Large Garden</h3>
								<div class="info">
									<p><span>Bedroom: 4</span> <span>Bathroom: 2</span> <span>Land Size: <span class="estate-x-size">5000</span> <span class="estate-x-unit">square</span></span> <span>Building Size: <span class="estate-x-size">2400</span> <span class="estate-x-unit">square</span></span> </p>
									<p>House</p> 
								</div>
								<div class="adderess">
									<i class="fa fa-map-pin" aria-hidden="true"></i>
									334, Rock Hill, New York, Mississippi, 12775, USA
								</div>
							</div>
						</div>
						<div class="item-foot">
							<div class="pull-left">
								<span class="prop-user-agent">
									<i class="fa fa-user" aria-hidden="true"></i>
									john S.Allen
								</span>
							</div>
							<div class="pull-right">
								<span class="prop-date">
									<i class="fa fa-calendar" aria-hidden="true"></i>
									9 months ago
								</span>
							</div>
						</div>
					</div>
				</div><!-- end service -->
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="service-widget">
					<div class="property-main">
						<div class="property-wrap">
							<figure class="post-media wow fadeIn">
								<a href="{% static 'main/uploads/estate_03.jpg' %}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="{% static 'main/uploads/estate_03.jpg' %}" alt="" class="img-responsive">
								<div class="label-inner">
									<span class="label-status label">Popular</span>
								</div>
								<div class="price">
									<span class="item-sub-price">$5.550/sq ft</span> 
								</div>
							</figure>
							<div class="item-body">
								<h3>With its Own Pool</h3>
								<div class="info">
									<p><span>Bedroom: 2</span> <span>Bathroom: 2</span> <span>Land Size: <span class="estate-x-size">3000</span> <span class="estate-x-unit">square</span></span> <span>Building Size: <span class="estate-x-size">1400</span> <span class="estate-x-unit">square</span></span> </p>
									<p>House</p> 
								</div>
								<div class="adderess">
									<i class="fa fa-map-pin" aria-hidden="true"></i>
									804, Rock Hill, New York, Mississippi, 12785, USA
								</div>
							</div>
							<div class="item-foot">
								<div class="pull-left">
									<span class="prop-user-agent">
										<i class="fa fa-user" aria-hidden="true"></i>
										john S.Allen
									</span>
								</div>
								<div class="pull-right">
									<span class="prop-date">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										9 months ago
									</span>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end service -->
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="service-widget">
					<div class="property-main">
						<div class="property-wrap">
							<figure class="post-media wow fadeIn">
								<a href="{% static 'main/uploads/estate_02.jpg' %}" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="{% static 'main/uploads/estate_02.jpg' %}" alt="" class="img-responsive">
								<div class="label-inner">
									<span class="label-status label">Popular</span>
								</div>
								<div class="price">
									<span class="item-sub-price">$5.550/sq ft</span> 
								</div>
							</figure>
							<div class="item-body">
								<h3>In Forests- Fresh Clean Air</h3>
								<div class="info">
									<p><span>Bedroom: 3</span> <span>Bathroom: 2</span> <span>Land Size: <span class="estate-x-size">4000</span> <span class="estate-x-unit">square</span></span> <span>Building Size: <span class="estate-x-size">2000</span> <span class="estate-x-unit">square</span></span> </p>
									<p>House</p>
								</div>
								<div class="adderess">
									<i class="fa fa-map-pin" aria-hidden="true"></i> 
									904, Rock Hill, New York, Mississippi, 12705, USA
								</div>
							</div>
							<div class="item-foot">
								<div class="pull-left">
									<span class="prop-user-agent">
										<i class="fa fa-user" aria-hidden="true"></i>
										john S.Allen
									</span>
								</div>
								<div class="pull-right">
									<span class="prop-date">
										<i class="fa fa-calendar" aria-hidden="true"></i>
										9 months ago
									</span>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end service -->
			</div>
		</div><!-- end row -->
	</div><!-- end container -->
</div><!-- end section -->

    <div id="testimonials" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Happy Customers</h3>
                    <p class="lead">Quisque eget nisl id nulla sagittis auctor quis id. Aliquam quis vehicula enim, non aliquam risus. Sed a tellus quis mi rhoncus dignissim.</p>
                </div><!-- end col -->
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
								
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'main/uploads/testi_01.png' %}" alt="" class="img-responsive alignleft">
                                <h4>James Fernando <small>- Manager of Racer</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'main/uploads/testi_02.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Jacques Philips <small>- Designer</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'main/uploads/testi_03.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Venanda Mercy <small>- Newyork City</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'main/uploads/testi_01.png' %}" alt="" class="img-responsive alignleft">
                                <h4>James Fernando <small>- Manager of Racer</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'main/uploads/testi_02.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Jacques Philips <small>- Designer</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team! <i class="fa fa-quote-right"></i></h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'main/uploads/testi_03.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Venanda Mercy <small>- Newyork City</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div><!-- end testimonial -->
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
{% endblock %}